/**
 * Site header
 */
.site-header{
    padding-top:1.5rem;
    padding-bottom:1.5rem;
    border-bottom: solid 1px #CDDC39;
    overflow:hidden;
    .site-header__nav {
      list-style: none;
      margin: 2rem 0 0 0;
      padding: 0;
      text-align: center;
      li {
        display: inline-block;
        margin-right: 3rem;
        margin-left: 3rem;
        a {
          color: #bb002f;
          &:hover {
            color: #333;
          }
        }
        &.active {
          a {
            color: #CDDC39;
          }
        }
      }
    }
    }
    .hp-img {
      width: 100%;
      padding: 1rem 0;
    }
    .hp-text__wrapper {
      display: table;
      overflow: hidden;
      height: 80vh;
      .hp-text {
        display: table-cell;
        vertical-align: middle;
      }
    }
    //TODO: add to colors
    .bg-blue {
      background: #003dc2;
    }


/**
 * Site footer
 */
 .site-footer{
     text-align: center;
     font-size: 0.8rem;
     padding-top:2rem;
     padding-bottom:2rem;
     a {
       color: #666;
       &:hover {
         color: #888;
       }
     }
 }

/**
 * Page content
 */
 .post-header{
     padding-top:1.5rem;
     padding-bottom:1.5rem;
     border-bottom: solid 1px #CDDC39;
 }

/**
 * Posts
 */
