/**
 * Site header
 */
.site-header{
    background-color: transparent;
    position: absolute;
    padding: 2rem 0;
    left: 0;
    right: 0;
    margin: auto;

    .header-list {
      li {
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        a {
          font-size: 1.1rem;
          font-weight: 500;
          &.logo {
            display: block;
            text-transform: uppercase;
            color: #ef00a3;
            font-weight: 700;
            font-size: 1.3rem;
          }
        }
      }
    }
  }



/**
 * Site footer
 */
 .site-footer{
     text-align: center;
     font-size: 0.8rem;
     padding-top:2rem;
     padding-bottom:2rem;
 }

/**
 * Page content
 */
 .post-header{
     padding-top:1.5rem;
     padding-bottom:1.5rem;
     border-bottom: solid 1px #CDDC39;
 }

/**
 * Posts
 */
