//------------------------------------------
//Homepage styles
//------------------------------------------
.homepage-gradient {
  background-size:cover;
  background: #ff00cc;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #d500f9, #2979ff );  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #d500f9, #2979ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100vh;

  .row {
    overflow: auto;
  }

  h1 {
    font-size: 4rem;
    line-height: 1;
    font-weight: 700;
  }
  p {
    font-size: 1.3rem;
    font-weight: 500;
    margin-top: 2.2rem;
  }
  @media screen and (min-width: 40em) {
    h1 {
      font-size: 6rem;
    }
  }
}
.pink {
  color: #ef00a3;
}
.blue {
   color: #0000EE;
}
.pink-transparent {
  color: #bb002f;
  opacity: 0.4;
}
.white {
  color: #ffffff;
}
.all-caps {
  text-transform: uppercase;
}
.hp-text-wrapper {
  .hp-text {
    margin: 30% 0 10% 0;

  }
}
.horizontal-list {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
    display: inline-block;
    margin-right: 2rem;
    a {
      text-decoration: none;
    }
  }
}
a.pale-pink {
  color: #F78BD5;
}

.mobile-mockup {
  width: 100%;
  @media screen and (min-width: 40em) {
    width: 30%;
    vertical-align: top;
    padding-right: 0.7rem;
  }
}
