.mtxl {
  margin-top: 3rem;
}
.center {
  text-align: center;
}
.page-content {
  min-height: 800px;
}
.bg-gray-light {
  background-color: #f3f3f3;
}
.small {
  font-size: 0.7rem;
}
.smaller {
  font-size: 0.5rem;
}
.smallest {
  font-size: 0.3rem;
}
